.country{
    border: 2px solid tomato;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;


}
.country-backgroun
{
    background-color: tomato;
}
.image-style{
    height: 200px;
    width: 400px;
}
.country-style{
    display: flex;
    justify-content: space-between;
    line-height: 1px;
}
.button-style{
    margin-left: 10px;
    border: 1px solid tomato;
    padding: 10px;
    border-radius: 6px;
    background-color: #242424;
}
.button-style2{
    margin-left: 10px;
    border: 1px solid white;
    background-color: tomato;
    padding: 10px;
    border-radius: 6px;
}